h1 {
    text-align: center;
}

p {
    font-size: 15px;
}

body {
    background: #d3e7f3;
    color: #232323;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 25px 50px;
  }

  button {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor:cell; /* cursor becomes an add icon*/
  }
  button:hover {
    border-color: #09507c;
    background-color: #deedf2;
  }
  
  input {
    font-size: 20px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 5px;
  }
  